{% extends 'base.html' %}

{% block title %}Главная - Расписание{% endblock %}

{% block content %}
    <h2>Добро пожалвоать в систему расписания</h2>

    <section>
        <h3>Статистика</h3>
        <ul>
            <li>Преподавателей: {{ teachers_count }}</li>
            <li>Курсов: {{ courses_count }}</li>
            <li>Студентов: {{ students_count }}</li>
        </ul>
    </section>

    <p>
        <a href="{% url 'teacher_list' %}">Список преподавателей</a> |
        <a href="{% url 'course_list' %}">Список курсов</a> |
        <a href="{% url 'student_list' %}">Список студентов</a>
    </p>
{% endblock %}