{% extends 'base.html' %}

{% block title %}Добавление студента{% endblock %}

{% block content %}
    <h2>Добавить нового студента</h2>

    <section>
        <form method="post">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                <div style="color: red;">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            
            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                        <span style="color: red;">{{ field.errors }}</span>
                    {% endif %}
                </p>
            {% endfor %}
            
            <p>
                <button type="submit">Добавить студента</button>
            </p>
        </form>
    </section>

{% endblock %}